{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  <div class="jumbotron">
    <h1 class="display-4">{{post.title}}</h1>
    <p class="lead">{{post.created_at}}</p>
    <hr class="my-4">
    <p>{{post.content}}</p>
    <a class="btn btn-primary" href="{% url 'posts:update' post.id %}">수정</a>
    <form action="{% url 'posts:delete' post.id %}" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="삭제">
    </form>
  </div>

  <form action="{% url 'posts:comment_create' post.id %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit" class="btn btn-warning">
  </form>
{% endblock %}